.select2{
    width: 100% !important;
}
/*tabla materiales*/
#tablaMaterialesArt tr th:first-child {
    width:10% !important;
}

#tablaMaterialesArt tr th:nth-child(2) {
    width:20% !important;
}

#tablaMaterialesArt tr th:nth-child(3) {
    width:30% !important;
}
/*tabla articulos*/
#tablaArticulos tr th:first-child {
    width:15% !important;
}

#tablaArticulos tr th:nth-child(2) {
    width:20% !important;
}

#tablaArticulos tr th:nth-child(3) {
    width:10% !important;
}

#tablaArticulos tr th:nth-child(4) {
    width:10% !important;
}

#tablaArticulos tr th:nth-child(5) {
    width:45% !important;
}

#linTable tr th:first-child {
    width:25% !important;
}

#linTable tr th:nth-child(2) {
    width:20% !important;
}