.entradaInventario {
    background-color: #c5f5c5;
}
.salidaInventario {
    background-color: #ffb9b9;
}
.transferenciaInventario {
    background-color: #D4E6F1;
}
.ajusteInventario {
    background-color: #FFFFCC;
}